@{
    ViewBag.Title = "Home Page";
}

    <div class="jumbotron">
        <h1>Client Search</h1>
        <p class="lead">Client Search is a powerful searching tool which allows users to locate TAI customer information. Users can search by First and Last Name, Policy Number, Gender, Issue State and Face Amount.</p>
        Please click on the Clients link in the menu for more!
    </div>